<template>
  <div id="app">
    <!-- <h1>RADHIS</h1> -->
    <div class="container">
      <router-view />
    </div>
    <!-- <div>
      <h3 v-if="playerHasProfile">Hi there, {{currentNick}}</h3> 
    </div>
    <div class="row">
      <div class="column">
        <create-profile @add:newProfile="addProfile" />
      </div> -->
      <!-- <div class="column">
        <profile-table :profiles="profiles" @add:capgrant="addCapgrant" @callListProfiles="listProfiles" />
      </div> -->
    <!-- </div> -->
    <!-- <div class="row">
      <div class="column">
        <health-data-form @add:newHealthData="addHealthData" />
      </div>
      <div class="column">
        <health-data-table :items="items" @callListHealthData="listHealthData" />
      </div>
    </div>
    <div class="row">
      <div class="column">
        <crl-table :profiles="profiles" />
      </div>
    </div>
    <div class="row">
      <div class="column">
        <create-health-data-form :profiles="profiles" @add:capcreate="capCreate" />
      </div>
    </div>
    <div class="row">
      <div class="column">
        <audit-data-table :audits="audits" :grants="grants" @add:adf="listAuditData" @callListAuditData="listAuditData"/>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <capgrant-table :grants="grants" @add:gdf="listGrants" @callListGrants="listGrants" @delete:grant="deleteGrant" />
      </div>
    </div> -->
  </div>
</template>


<script lang="ts">
// Odd behaviour:
// - Bob can see Alices profile immediately, but Alice cannot see Bobs for several minutes - ?? - actually this seems to vary and may be dependent on other code (?)
//    CHECK ListProfiles.vue

// TODO: Use computed setters to increase caching

import { defineComponent } from 'vue'
import { DateTime } from "luxon";
// import HealthDataForm from '@/components/CreateHealthData.vue'
// import HealthDataTable from '@/components/ListHealthData.vue'
// import ProfileTable from '@/components/CapGrant.vue'
import CreateProfile from '@/components/CreateProfile.vue'
// // import TokensTable from '@/components/GetTokens.vue'
// import CrlTable from '@/components/CapListHealthData.vue'
// import CreateHealthDataForm from '@/components/CapCreateHealthData.vue'
// import AuditDataTable from '@/components/ListAuditData.vue'
// import CapgrantTable from '@/components/ListCapGrant.vue'
import { appInfo, appWebsocket } from '@/store/holochain'

export default defineComponent({
    name: 'app',
    components: {
      // HealthDataForm,
      // HealthDataTable,
      // ProfileTable,
      CreateProfile,
      // // TokensTable,
      // CrlTable,
      // CreateHealthDataForm,
      // AuditDataTable,
      // CapgrantTable,
    },
    data: () => ({
        // initialize empty array for health data - listHealthData() - to insert into
        items: [
          {
            wrapperEntryHash: '',
            entry: {
              content: '',
              resourceType: '',
              startTime: '',
              endTime: '',
            }
          }
        ],
        // initialize empty array for profile data - listProfiles() - to insert into
        profiles: [
          {
            entryHash: '',
            entry: {
              playerId: '',
              nickname: '',
            id: '',
            }
          }
        ],
        // initialize empty array for audit data - listAuditData() - to insert into
        audits: [
          {
            wrapperEntryHash: '',
            createdBy: '',
            recordHeader: '',
            resourceType: '',
            timestamp: '',
          }
        ],
        // initialize empty array for grants data - listGrants() - to insert into
        grants: [
          {
            entryHash: '',
            timestamp: '',
            grantee: '',
            function: '',
            headerhash: '',
            active: ''
          }
        ],
        currentNick: '',
    }),
    mounted() {
      this.listHealthData() // update items on page load/refresh
      this.listProfiles()
      this.listAuditData()
      this.listGrants()
    },
    methods: {
      async deleteGrant(header_hash) {
        console.log("DELETE HEADER HASH:");
        console.log(header_hash);

        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();

        try{
        const res = await appWs.callZome({
          cap: null,
          cell_id: cell_id,
          zome_name: 'radvue',
          fn_name: 'delete_cap_grant',
          payload: header_hash,
          provenance: cell_id[1],
        });
        this.$moshaToast('Deleted cap grant!',{type:'success',transition:'zoom',timeout: 3000,showIcon: true,toastBackgroundColor: '#009435'})
        } catch (error) {
          this.$moshaToast('Error!',{type:'danger',transition:'zoom',timeout: 3000,showIcon: true, toastBackgroundColor: '#d32f2f'})
          console.log("ERROR!");
        }

      this.listGrants();

      },
      async listHealthData() {
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();
        const res = await appWs.callZome({
          cap: null,
          cell_id: cell_id,
          zome_name: 'radvue',
          fn_name: 'list_health_data',
          payload: null,
          provenance: cell_id[1],
        });

        console.log("RES:");
        console.log(res);

        var newres = res.map(item => {
          var container = {};
          container["wrapperEntryHash"] = item.wrapperEntryHash;
          container["content"] = item.entry.content;
          container["resourceType"] = item.entry.resourceType;
          const sd = new Date(item.entry.startTime * 1000); // convert unix time to date
          container["startTime"] = sd.toLocaleString(DateTime.DATETIME_SHORT); // format to datetime_short
          const ed = new Date(item.entry.endTime * 1000); // convert unix time to date
          container["endTime"] = ed.toLocaleString(DateTime.DATETIME_SHORT); // format to datetime_short
          return container;

        })
      
        this.items = [...newres]; // send full response from backend to health data array

      },
      async capCreate(cap_create) {
        console.log("CAP CREATE: ");
        console.log(cap_create);

        // we can't just pass in cap_create as payload because it also contains selectedIndex
        const payload = {
          filterByAgent: cap_create.filterByAgent,
          content: cap_create.content,
          resourceType: cap_create.resourceType,
          startTime: parseInt(cap_create.starttime),
          endTime: parseInt(cap_create.endtime),
        };

        console.log("APP PAYLOAD");
        console.log(payload);
        
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();

        try{
        const res = await appWs.callZome({
          cap: null,
          cell_id: cell_id,
          zome_name: 'radvue',
          fn_name: 'call_create_cap_claim',
          payload: payload,
          provenance: cell_id[1],
        });
        console.log(res);
        this.$moshaToast('Created data!',{type:'success',transition:'zoom',timeout: 3000,showIcon: true,toastBackgroundColor: '#009435'});
        this.listHealthData(); // if user adds data for themself
        } catch (error) {
          this.$moshaToast('Unauthorized!',{type:'danger',transition:'zoom',timeout: 3000,showIcon: true, toastBackgroundColor: '#d32f2f'});
          console.log("UNAUTHORIZED!");
        }
      },
      async addHealthData(hdf) {

        console.log("APP NEW HDF:");
        console.log(hdf);
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();

        // make call to holochain backend
        await appWs.callZome({
            cap: null,
            cell_id: cell_id,
            zome_name: 'radvue',
            fn_name: 'create_health_data',
            payload: {
                content: hdf.content,
                resourceType: hdf.resourcetype,
                startTime: parseInt(hdf.starttime),
                endTime: parseInt(hdf.endtime),
            },
            provenance: cell_id[1],
        });

        this.$moshaToast('Health data created!',{type:'success',transition:'zoom',timeout: 3000,showIcon: true,toastBackgroundColor: '#009435'});

        this.listHealthData();
      },
      async addProfile(newProfile) {
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();
        await appWs.callZome({
            cap: null,
            cell_id: cell_id,
            zome_name: 'radvue',
            fn_name: 'create_profile',
            payload: {
                nickname: newProfile,
            },
            provenance: cell_id[1],
        });

        this.currentNick = newProfile;

        this.$moshaToast({title: 'Profile created!',description: 'Welcome aboard '+this.currentNick},{type:'success',transition:'zoom',timeout: 3000,showIcon: true,toastBackgroundColor: '#009435'});

        this.listProfiles();
        console.log(this.currentNick);

        localStorage.setItem('nickname', newProfile);

        console.log("FROM STORAGE");

        this.currentNick = localStorage.getItem('nickname');
        console.log(localStorage.getItem('nickname'));
        
      },
      async addCapgrant(newCapgrant) {
        console.log("APP NEW CAPGRANT: ");
        console.log(newCapgrant);
        // gets ID from array to figure out who the grant is for
        const whichprofile = newCapgrant.selectedIndex;
        // builds input for create_capgrant, passing selected pubkey/playerID to function
        const pubkey_for_capgrant = this.profiles[whichprofile].entry.playerId;

        // ok well let's try and get the data again, to do something with
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();

        // this player
        console.log("cell_id[1]: ");
        console.log(cell_id[1]); // CORRECT FORMAT

        // find out what grant type we want
        let whichgrant = newCapgrant.granttype;
        console.log(whichgrant);

        if (whichgrant == "list") {
          try{
            // actually use function with option value for grantee
            const capgrant = await appWs.callZome({
                cap: null,
                cell_id: cell_id,
                zome_name: 'radvue',
                fn_name: 'create_capgrant',
                payload: {
                  function: "list_health_data_with_capgrant",
                  agent: pubkey_for_capgrant,
                },
                provenance: cell_id[1],
            });
            console.log("LIST CAPGRANT: ");
            console.log(capgrant);

            const cghh = capgrant.header_hash;
            console.log(" LIST HEADER HASH: ");
            console.log(cghh);
            this.$moshaToast('Capgrant created!',{type:'success',transition:'zoom',timeout: 3000,showIcon: true,toastBackgroundColor: '#009435'});
            this.listGrants();
          } catch (error) {
            this.$moshaToast({title:'Error!',description:'Something went wrong'},{type:'danger',transition:'zoom',timeout: 3000,showIcon: true, toastBackgroundColor: '#d32f2f'});
            console.log("ERROR!");
          }
        } else if (whichgrant == "create") {
          try{
          const capgrant = await appWs.callZome({
              cap: null,
              cell_id: cell_id,
              zome_name: 'radvue',
              fn_name: 'create_capgrant',
              payload: {
                function: "create_health_data_with_capgrant",
                agent: pubkey_for_capgrant,
              },
              provenance: cell_id[1],
          });
          console.log("CREATE CAPGRANT: ");
          console.log(capgrant);

          const cghh = capgrant.header_hash;
          console.log("CREATE HEADER HASH: ");
          console.log(cghh);
          this.$moshaToast('Capgrant created!',{type:'success',transition:'zoom',timeout: 3000,showIcon: true,toastBackgroundColor: '#009435'});
          this.listGrants();
          } catch (error) {
            this.$moshaToast({title:'Error!',description:'Something went wrong'},{type:'danger',transition:'zoom',timeout: 3000,showIcon: true, toastBackgroundColor: '#d32f2f'});
            console.log("ERROR!");
          }
        } else {
          this.$moshaToast({title:'Error!',description:'Something went wrong'},{type:'danger',transition:'zoom',timeout: 3000,showIcon: true,toastBackgroundColor: '#009435'});
          console.log("Something went wrong");
        }
      },
      async listProfiles() {
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();
        const res = await appWs.callZome({
          cap: null,
          cell_id: cell_id,
          zome_name: 'radvue',
          fn_name: 'list_profiles',
          payload: null,
          provenance: cell_id[1],
        });

        // // add an ID to each entry so we can actually get the right pubkey/playerid for holochain
        res.forEach((o, i) => o.id = i + 1 - 1);

        this.profiles = [...res]; // append full response from backend to profiles array
        console.log("LIST PROFILES RES: ")
        console.log(res);
        this.currentNick = localStorage.getItem('nickname');
      },
      async listGrants() {
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();
        const res = await appWs.callZome({
          cap: null,
          cell_id: cell_id,
          zome_name: 'radvue',
          fn_name: 'list_caprecord',
          payload: null,
          provenance: cell_id[1],
        });

        var newres = res.map(item => {
        var container = {};
        container["entryHash"] = item.entryHash;
        container["grantee"] = this.nickLkup(item.entry.grantee); // get nickname from pubkey
        container["function"] = item.entry.function;
        container["active"] = item.entry.active;
        container["timestamp"] = this.luxDate(item.entry.timestamp); // format ISO date
        container["headerhash"] = item.entry.headerhash;

        return container;

        });

        this.grants = [...newres]; // append full response from backend to profiles array
        console.log("LIST GRANTS RES: ")
        console.log(newres);
      },
      async listAuditData() {
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();
        const res = await appWs.callZome({
          cap: null,
          cell_id: cell_id,
          zome_name: 'radvue',
          fn_name: 'list_audit_data',
          payload: null,
          provenance: cell_id[1],
        });


      var newres = res.map(item => {
        var container = {};
        container["wrapperEntryHash"] = item.wrapperEntryHash;
        container["createdBy"] = this.nickLkup(item.entry.createdBy); // get nickname from pubkey
        container["recordHeader"] = item.entry.recordHeader;
        container["resourceType"] = item.entry.resourceType;
        container["timestamp"] = this.luxDate(item.entry.timestamp); // format ISO date

        return container;

      })
      
      this.audits = [...newres]; // append full response from backend to audit data array

      },
      luxDate: function(timestamp) {
          const date = DateTime.fromISO(timestamp);
          const hooman = date.toLocaleString(DateTime.DATETIME_SHORT);
          return hooman;
      },
      nickLkup: function(pubkey) {
        let profiles = this.profiles;
        profiles = profiles.filter((p)=> {
            return p.entry.playerId.toString() === pubkey.toString()
        })
        const pcont = JSON.parse(JSON.stringify(profiles))
        console.log("PCONT:");
        console.log(profiles);
        console.log(pcont);
        return pcont[0].entry.nickname;
      }
    },
    computed: {
      playerHasProfile: function() {
        return this.profiles.length > 0;
      },
      lsNickname: function() {
        // console.log("lsNickname:");
        // console.log(localStorage.getItem('nickname'));
        // return !localStorage.getItem('nickname');

        if (localStorage.getItem('nickname') !== null) {
          return false;
            } else {
          return true;
        }
      },
    },
  });
</script>

<style>
/* #app {
  font-family: Arial, Helvetica, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #4283b9;
}

body {
  background-color: rgb(199, 199, 199);
  }

.small-container { */
  /* max-width: 1024px; */
  /* margin: 0 auto;
  width: 70%;
}

form {
    margin-bottom: 2rem;
    text-align: left;
    padding: 30px;
  }

.button {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  background: #009435;
  border: 1px solid #009435;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

[class*='-message'] {
  font-weight: 500;
}

#entries {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

#entries td, #entries th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#entries tr:nth-child(even){background-color: #f2f2f2;}

#entries tr:hover {background-color: #ddd;}

#entries th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #69b985;
  color: white;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: darkgrey;
    color: #fff;
    padding: 10px;
    cursor: not-allowed;
    pointer-events: none;
}

@keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
} */

/* .refresh-start {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
} */

/* .refresh-end {
  animation-play-state: paused !important
} */


/* CSS FOR NAV BAR */
img {
  border-radius: 50%;
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* Change the link color to #111 (black) on hover */
/* li a:hover {
  background-color: #111;
}

li:active {
  background-color: #04AA6D;
  font-size: 150%;
} */

</style>