<template>
    <div class="panel">
        <h3>Create user data</h3>
        <div id="create-health-data-form">
            <form @submit.prevent="handleSubmit">
                <label>Who?</label> 
                <select align="left" @change="switchView($event,$event.target.selectedIndex)" v-model="nick">
                    <option v-for="(profile) in profiles" :key="profile.id">{{profile.entry.nickname}}</option>
                </select>
                <label>Content</label>
                <textarea v-model="hdf.content" placeholder='content' type="text" maxlength="100"></textarea>
                <label>Resource type</label>
                <input v-model="hdf.resourcetype" placeholder='resource' type="text" maxlength="50" />
                <label>Start time</label>
                <!-- <input v-model="hdf.starttime" @keypress="isNumeric" placeholder='in UNIX time only!' type="text" /> -->
                <Datepicker v-model="hdf.starttime" :format="format" :previewFormat="format" autoApply placeholder="Select start date" required></Datepicker>
                <label>End time</label>
                <!-- <input v-model="hdf.endtime" @keypress="isNumeric" placeholder='in UNIX time only!' type="text" /> -->
                <Datepicker v-model="hdf.endtime" :format="format" :previewFormat="format" autoApply placeholder="Select end date" required></Datepicker>
                <!-- <button :disabled="isDisabled || isDisabled2 || isDisabled3 || isDisabled4" class="button">Submit</button> -->
                <button :disabled="isDisabled || isDisabled2 || isDisabled3 || isDisabled4" class="button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</template>


<script lang="ts">
import { defineComponent, ref } from 'vue';
import Datepicker from 'vue3-date-time-picker';
import 'vue3-date-time-picker/dist/main.css'
export default defineComponent({
    components: { Datepicker },
    setup() {
        const date = ref(new Date());
        const format = (date) => {
            const day = date.getDate();
            const month = date.getMonth() + 1;
            const year = date.getFullYear();

            return `Selected date is ${day}/${month}/${year}`;
        }
        
        return {
            date,
            format,
        }
    },
    name: 'create-health-data-form',
    props: {
        profiles: Array,
    },
    data() {
        return {
            hdf: {
                content: '',
                resourcetype: '',
                starttime: '',
                endtime: '',
            },
            nick: '',
            selectedIndex: 0
        }
    },
    methods: {
        async handleSubmit() {
        // gets ID from array to figure out who the grant is for
        const whichprofile = this.selectedIndex;
        // builds input for create_capgrant, passing selected pubkey/playerID to function
        const pubkey_for_capgrant = this.profiles[whichprofile].entry.playerId;
        const thisnick = this.profiles[whichprofile].entry.nickname;

        const cap_create = {
            filterByAgent: pubkey_for_capgrant,
            content: this.hdf.content,
            resourceType: this.hdf.resourcetype,
            starttime: this.hdf.starttime.getTime()/1000, // convert to UNIX time
            endtime: this.hdf.endtime.getTime()/1000, // convert to UNIX time
            granteeNick: thisnick, // emit so name can be used in toast
        }
        this.$emit('add:capcreate', cap_create);

        this.nick = "";
        this.hdf.content = "";
        this.hdf.resourcetype = "";
        this.hdf.starttime = "";
        this.hdf.endtime = "";
    },
    switchView: function(event, selectedIndex) {
      this.selectedIndex = selectedIndex;
    },
},
        computed: {
        hasProfiles: function() {
            return this.$props.profiles.length > 0;
        },
        isDisabled: function(){
            console.log(!this.hdf.content);
            return !this.hdf.content;
        },
        isDisabled2: function(){
            console.log(!this.hdf.resourcetype);
            return !this.hdf.resourcetype;
        },
        isDisabled3: function(){
            console.log(!this.hdf.starttime);
            return !this.hdf.starttime;
        },
        isDisabled4: function(){
            console.log(!this.hdf.endtime);
            return !this.hdf.endtime;
        },
        isDisabled5: function(){
            console.log("NICK:")
            console.log(!this.nick);
            return !this.nick;
        },
        },

});
</script>

<style scoped>
button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: darkgrey;
    color: #fff;
    padding: 20px;
    cursor: not-allowed;
    pointer-events: none;
}
</style>