<template>
  <div class="panel">
    <template v-if="hasEntries">
      <h3>Grant access</h3>
      <div id="profile-table">
        <p>Pick a user</p>
        <div class="inline">
        <select @change="switchView($event, $event.target.selectedIndex)" v-model="nick" ref="capuser">
          <option v-for="(profile) in profiles" :key="profile.id">{{profile.entry.nickname}}
          </option>
        </select>&nbsp;
        <!-- <button ref="refreshButton" class="d-inline-block w-auto p-1" @click="fnSpinIcon">
          spin the icon on click
          <font-awesome-icon v-if="spinIcon == 1" icon="sync" class="fa-spin" />
          <font-awesome-icon v-else icon="sync" />
        </button> -->
        </div>
        <label class="mt-3">Pick permission type</label> 
        <select v-model="granttype" ref="captype">
          <option value="create">Create</option>
          <option value="list">List</option>
        </select>
        <button :disabled="isDisabled || isDisabled2" @click="handleSubmit" class="button" style="vertical-align:middle">Submit</button>
      </div>
    </template>
  </div>
</template>


<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
    // define props to receive from App, to put into the table
  name: 'profile-table',
    props: {
        profiles: Array,
    },
    data() {
      return {
        // gets selected option
        nick: '',
        granttype: '',
        selectedIndex: 0,
        spinIcon: 0,
      }
    },
    methods: {
    async handleSubmit() {

      const newCapgrant = {
        nick: this.nick,
        granttype: this.granttype,
        selectedIndex: this.selectedIndex,
      }

      this.$emit('add:capgrant', newCapgrant);

      // reset form
      this.$refs.capuser.value = '';
      this.$refs.captype.value = '';
      this.granttype = '';
      this.nick = '';

      },

      switchView: function(event, selectedIndex) {
          this.selectedIndex = selectedIndex;
      },
      async fnSpinIcon() {
        console.log("SPIN ICON");
        this.spinIcon = 1;
        this.$emit('callListProfiles');
        await new Promise(r => setTimeout(r, 2000)); // sleep for 2 seconds before resetting spinIcon
        this.spinIcon = 0;
      },
    },
      computed: {
      hasEntries: function() {
        return this.$props.profiles.length > 0;
      },
      isDisabled: function(){
        return !this.granttype;
      },
      isDisabled2: function(){
        return !this.nick;
      },

      }
});
</script>

<style scoped>
button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: darkgrey;
    color: #fff;
    padding: 20px;
    cursor: not-allowed;
    pointer-events: none;
}

.inline {
  display: inline-flex;
  align-items: center;
}

.rbutton {
    font-size: 14px;
    /* padding: 70px; */
    vertical-align:middle;
    }

</style>