<template>
  <div class="panel">
    <template v-if="hasProfiles">
    <h3 align="left">List user data</h3>
    <div id="crl-table">
        <label>Pick a user</label>
                    <select align="left" @change="switchView($event, $event.target.selectedIndex)" v-model="nick">
                        <option v-for="(profile) in profiles" :key="profile.id">
                            {{profile.entry.nickname}}
                        </option>
                    </select>

                    <button :disabled="isDisabled" @click="handleSubmit" class="button" style="vertical-align:middle">Submit </button>
    </div>
    <div>
    <vue-final-modal v-model="showModalHere" classes="modal-container" content-class="modal-content">
      <span class="modal__title">Viewing {{this.nick2}}'s health data</span>
      <div><p></p></div>
      <div class="modal__content">
        <table id="entries">
          <thead>
              <tr>
                  <th>Content</th>
                  <th>Resource Type</th>
                  <th>Date</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="capitem in capitems" :key="capitem.wrapperEntryHash">
                  <td>{{capitem.content}}</td>
                  <td>{{capitem.resourceType}}</td>
                  <td>{{capitem.startTime}}</td>
              </tr>
          </tbody>
      </table>
      <div><p></p></div>
      <div class="modal__action">
        <button @click="showModalHere = false" class="button">OK!</button>
      </div>
      </div>
    </vue-final-modal>
    </div>
    </template>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { appInfo, appWebsocket } from '@/store/holochain'
import { DateTime } from "luxon";
export default defineComponent({
    // define props to receive from App, to put into the table
  name: 'crl-table',
    props: {
        profiles: Array,
    },
    data() {
      return {
        nick: '',
        nick2: '',
        selectedIndex: 0,
        showModalHere: false,
        capitems: [
          {
            wrapperEntryHash: '',
            entry: {
              content: '',
              resourceType: '',
              startTime: '',
              endTime: '',
            }
          }
        ],
      }
    },
    methods: {
    async handleSubmit() {

      this.nick2 = this.nick;
      const cap_list = {
        nick: this.nick,
        selectedIndex: this.selectedIndex,
      }
      
      // gets ID from array to figure out who the grant is for
      const whichprofile = cap_list.selectedIndex;
      // builds input for create_capgrant, passing selected pubkey/playerID to function
      const pubkey_for_capgrant = this.profiles[whichprofile].entry.playerId;

      const info = await appInfo();
      const cell_id = info.cell_data[0].cell_id;
      const appWs = await appWebsocket();

      try{
      const res = await appWs.callZome({
        cap: null,
        cell_id: cell_id,
        zome_name: 'radvue',
        fn_name: 'call_list_cap_claim',
        payload: pubkey_for_capgrant,
        provenance: cell_id[1],
      });

        var newres = res.map(item => {
        var container = {};
        container["wrapperEntryHash"] = item.wrapperEntryHash;
        container["content"] = item.entry.content;
        container["resourceType"] = item.entry.resourceType;
        const sd = new Date(item.entry.startTime * 1000); // convert unix time to date
        container["startTime"] = sd.toLocaleString(DateTime.DATETIME_SHORT); // format to datetime_short
        const ed = new Date(item.entry.endTime * 1000); // convert unix time to date
        container["endTime"] = ed.toLocaleString(DateTime.DATETIME_SHORT); // format to datetime_short
        return container;
      })

        this.capitems = [...newres]; // send full response from backend to capitems data array

        this.showModalHere = true;
        } catch (error) {
          this.$moshaToast('Unauthorized!',{type:'danger',transition:'zoom',timeout: 3000,showIcon: true, toastBackgroundColor: '#d32f2f'})
          this.showModalHere = false;
        }

        this.nick = '';

      },
    // get selected option value
    switchView: function(event, selectedIndex) {
      this.selectedIndex = selectedIndex;
    }
    
    },
    computed: {
    hasProfiles: function() {
      return this.$props.profiles.length > 0;
    },
    isDisabled: function(){
        return !this.nick;
      },
  },
})
</script>

<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  /* background: #fff; */
  background: rgb(199, 199, 199);
}
.modal__title {
  margin: 0 2rem 0 0;
  font-size: 1.2rem;
  font-weight: 700;
}
.modal__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
</style>

<style scoped>
.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: darkgrey;
    color: #fff;
    padding: 20px;
    cursor: not-allowed;
    pointer-events: none;
}
</style>