<template>
    <div class="panel">
        <h3>Create data</h3>
        <div id="health-data-form">
            <form @submit.prevent="handleSubmit" ref="theform">
                <label>Content</label> 
                <textarea v-model="hdf.content" placeholder='content' type="text" maxlength="100"></textarea>
                <label>Resource type</label>
                <input v-model="hdf.resourcetype" placeholder='resource' type="text" maxlength="50" />
                <label>Start time</label>
                <Datepicker v-model="hdf.starttime" :format="format" :previewFormat="format" autoApply placeholder="Select start date" required></Datepicker>
                <label>End time</label>
                <Datepicker v-model="hdf.endtime" :format="format" :previewFormat="format" autoApply placeholder="Select end date" required></Datepicker>
                <button :disabled="isDisabled || isDisabled2 || isDisabled3 || isDisabled4" class="button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import Datepicker from 'vue3-date-time-picker';
import 'vue3-date-time-picker/dist/main.css'
export default defineComponent({
    components: { Datepicker },
    setup() {
        const date = ref(new Date());
        // In case of a range picker, you'll receive [Date, Date]
        const format = (date) => {
            const day = date.getDate();
            const month = date.getMonth() + 1;
            const year = date.getFullYear();

            return `Selected date is ${day}/${month}/${year}`;
        }
        
        return {
            date,
            format,
        }
    },
    name: 'health-data-form',
    data() {
        return {
            hdf: {
                content: '',
                resourcetype: '',
                starttime: '',
                endtime: '',
            },
            sdate: null,
            edate: null,
        }
    },
    methods: {
        async handleSubmit() {
        
        var newhdf = {
            content: this.hdf.content,
            resourcetype: this.hdf.resourcetype,
            starttime: this.hdf.starttime.getTime()/1000, // convert to UNIX time
            endtime: this.hdf.endtime.getTime()/1000, // convert to UNIX time
        }

        this.$emit('add:newHealthData', newhdf);

        this.hdf.content = "";
        this.hdf.resourcetype = "";
        this.hdf.starttime = "";
        this.hdf.endtime = "";
    },    
},
        computed: {
        isDisabled: function(){
        return !this.hdf.content;
        },
        isDisabled2: function(){
            return !this.hdf.resourcetype;
        },
        isDisabled3: function(){
            return !this.hdf.starttime;
        },
        isDisabled4: function(){
            return !this.hdf.endtime;
        },
    },
});
</script>

<style scoped>
button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: darkgrey;
    color: #fff;
    padding: 20px;
    cursor: not-allowed;
    pointer-events: none;
}
</style>