<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="panel mt-7">
                    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card mb-3 mx-auto d-block" />
                    <form @submit="handleSubmit">
                        <label for="username">Username</label>
                        <input name="username" type="text" class="text" v-model="pdf.nickname" />
                        <button type="submit">
                            <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                            <span>Login</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { appInfo, appWebsocket } from '@/store/holochain'
 
export default defineComponent({
    name: 'create-profile',
    data() {
        return {
            pdf: {
                nickname: '',
            },
            inputActive: false,
            loading: false,
        }
    },
    methods: {
        async handleSubmit() {
        this.loading = true;    

        // send submitted data up to App
        this.inputActive = true;
        localStorage.setItem('loggedIn', 'true');
        localStorage.setItem('nickname', this.pdf.nickname);

        this.addProfile(this.pdf.nickname);

        this.$router.push("/radhis");
    },
    async addProfile(newProfile) {
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();
        await appWs.callZome({
            cap: null,
            cell_id: cell_id,
            zome_name: 'radvue',
            fn_name: 'create_profile',
            payload: {
                nickname: newProfile,
            },
            provenance: cell_id[1],
        });

        this.currentNick = newProfile;

        this.$moshaToast({title: 'Profile created!',description: 'Welcome aboard '+this.currentNick},{type:'success',transition:'zoom',timeout: 3000,showIcon: true,toastBackgroundColor: '#009435'});

        localStorage.setItem('nickname', newProfile);

        this.currentNick = localStorage.getItem('nickname');        
      },
},
       created: function(){
            if (localStorage.getItem('loggedIn') !== null) {
            this.$router.push("/radhis");
            }
        },
        computed: {
        isDisabled: function(){
        // return true if nickname input is empty
            return !this.pdf.nickname;
        },
 
        inputDisabled: function(){
        // return true if nickname input is empty
            return this.inputActive;
        },
        lsNickname: function() {
        // return false if nickname exists in local storage for this user
        if (localStorage.getItem('nickname') !== null) {
          return true;
            } else {
          return false;

            }
        },
        }
});
</script>

<style scoped>
img {
  border-radius: 50%;
}
</style>