<template>
  <div class="panel">
    <h3 align="left">My data
      <button ref="refreshButton"  @click="fnSpinIcon" class="d-inline-block w-auto p-1">
        <!-- spin the icon on click -->
        <font-awesome-icon v-if="spinIcon == 1" icon="sync" class="fa-spin" />
        <font-awesome-icon v-else icon="sync" />
      </button>
    </h3>
    <!-- provide empty panel in case there's no data yet -->
    <div v-if="this.$props.items.length < 1" class="panel mt-3">
      <p style="color:Grey;text-align:center;">
      <font-awesome-icon icon="exclamation-circle" size="lg" />
      You don't have any health data yet!</p>
    </div>
    <!-- otherwise if there is data then present in a table -->
    <div id="health-data-table" v-else>
      <table id="entries">
          <thead>
              <tr>
                  <th>Content</th>
                  <th>Resource Type</th>
                  <th>Date</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="item in items" :key="item.wrapperEntryHash">
                  <td>{{item.content}}</td>
                  <td>{{item.resourceType}}</td>
                  <td>{{item.startTime}}</td>
              </tr>
          </tbody>
      </table>
    </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  // define props to receive from App, to put into the table
  name: 'health-data-table',
  data: () => ({
    spinIcon: 0,
  }),
  props: {
    items: Array,
  },
  methods: {
    async fnSpinIcon() {
      console.log("SPIN ICON");
      this.spinIcon = 1;
      this.$emit('callListHealthData');
      await new Promise(r => setTimeout(r, 2000)); // sleep for 2 seconds before resetting spinIcon
      this.spinIcon = 0;
    },
  },
  computed: {
  },
});
</script>

<style scoped>
button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: darkgrey;
    color: #fff;
    padding: 10px;
    cursor: not-allowed;
    pointer-events: none;
}

button {
  font-size: 14px;
  /* padding: 70px; */
  vertical-align:middle;
}

</style>