<template>
    <div class="panel">
      <h3 align="left">Manage your permissions
        <button ref="refreshButton" class="d-inline-block w-auto p-1" @click="fnSpinIcon">
          <!-- spin the icon on click -->
          <font-awesome-icon v-if="spinIcon == 1" icon="sync" class="fa-spin" />
          <font-awesome-icon v-else icon="sync" />
        </button>
      </h3>
      <div v-if="this.$props.grants.length < 1" class="panel mt-3">
      <p style="color:Grey;text-align:center;">
        <font-awesome-icon icon="exclamation-circle" size="lg"/>
        You haven't given any permissions yet!<br/>
        You can do that <a href="#access">here</a>
      </p>
      </div>
      <div id="capgrant-table" v-else >
        <table id="entries">
          <thead>
            <tr>
              <th>Grantee</th>
              <th>Permission type</th>
              <th>Created</th>
              <th>Active</th>
            </tr>
          </thead>
          <tbody>
            <!-- 'disable' the row if grant isn't active -->
            <tr v-for="(grant,index) in grants" :key="grant.entryHash" v-bind:class="{ 'text-muted': !grant.active }">
              <td>{{grant.grantee}}</td>
              <td>{{grant.function}}</td>
              <td>{{grant.timestamp}}</td>
              <td>{{grant.active}}</td>
              <td v-if="grant.active === true">
                <button @click="deleteGrant(grant.headerhash,index)" style="width:25px;padding:5px;">
                  <font-awesome-icon icon="trash" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    // define props to receive from App, to put into the table
  name: 'capgrant-table',
  data: () => ({
    spinIcon: 0,
  }),
  props: {
    grants: Array,
  },
  computed: {
  },
  methods: {
    deleteGrant: function(headerhash,index) {
          this.$emit('delete:grant', headerhash);
          this.$emit('delete_grant_index',index);
          
      },
    async fnSpinIcon() {
      console.log("SPIN ICON");
      this.spinIcon = 1;
      this.$emit('callListGrants');
      await new Promise(r => setTimeout(r, 2000)); // sleep for 2 seconds before resetting spinIcon
      this.spinIcon = 0;
    },
  }
});
</script>

<style scoped>
button {
  font-size: 14px;
  /* padding: 70px; */
  vertical-align:middle;
}
</style>