<template>
    <div class="panel">
    <h3 align="left" >Check your audit data here
        <button ref="refreshButton" class="d-inline-block w-auto p-1" @click="fnSpinIcon">
          <!-- spin the icon on click -->
          <font-awesome-icon v-if="spinIcon == 1" icon="sync" class="fa-spin" />
          <font-awesome-icon v-else icon="sync" />
        </button>
    </h3>
    <div v-if="this.$props.audits.length < 1" class="panel mt-3">
        <p style="color:Grey;text-align:center;">
        <font-awesome-icon icon="exclamation-circle" size="lg" />
        Nobody has used any of your permissions yet!</p>
    </div>

    <div id="audit-data-table" v-else >
        <table id="entries">
            <thead>
                <tr>
                    <th>Created by</th>
                    <th>Record header</th>
                    <th>Resource type</th>
                    <th>Datetime</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="audit in audits" :key="audit.wrapperEntryHash">
                    <td>{{audit.createdBy}}</td>
                    <td>{{audit.recordHeader}}</td>
                    <td>{{audit.resourceType}}</td>
                    <td>{{audit.timestamp}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    // define props to receive from App, to put into the table
    name: 'audit-data-table',
    data: () => ({
        spinIcon: 0,
    }),
    props: {
        audits: Array,
        grants: Array, 
    },
    methods: {
    async fnSpinIcon() {
      console.log("SPIN ICON");
      this.spinIcon = 1;
      this.$emit('callListAuditData');
      await new Promise(r => setTimeout(r, 2000)); // sleep for 2 seconds before resetting spinIcon
      this.spinIcon = 0;
        },
    },
    computed: {
    },
})  
</script>

<style scoped>
button {
    font-size: 14px;
    /* padding: 70px; */
    vertical-align:middle;
    }
</style>