<template>
<div id="main">
<div id="nav">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img :src="imgUrl" alt="" width="60" height="60">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <router-link to="/" class="nav-item nav-link">My data</router-link> |
        <router-link to="/access" class="nav-item nav-link">Access</router-link> |
        <router-link to="/audit" class="nav-link">Audit</router-link>
      </div>
    </div>
  </div>
</nav>
</div>
<p class="text-muted">Hi there, {{ currentNick }}</p>
</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { appInfo, appWebsocket } from '@/store/holochain'

export default defineComponent({
    name: 'nav-bar',
    data: () => ({
        currentId: '',
        currentNick: '',
        // initialize empty array for profile data - listProfiles() - to insert into
        profiles: [
          {
            entryHash: '',
            entry: {
              playerId: '',
              nickname: '',
            id: '',
            }
          }
        ],
    }),
    mounted() {
        this.listProfiles()
    },
    methods: {
        async listProfiles() {
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();
        const res = await appWs.callZome({
          cap: null,
          cell_id: cell_id,
          zome_name: 'radvue',
          fn_name: 'list_profiles',
          payload: null,
          provenance: cell_id[1],
        });

        // // add an ID to each entry so we can actually get the right pubkey/playerid for holochain
        res.forEach((o, i) => o.id = i + 1 - 1);

        this.profiles = [...res]; // append full response from backend to profiles array
        this.currentNick = localStorage.getItem('nickname');
        this.nickId = this.currentNick;
      },
    },
    computed: {
      imgUrl: function() {
        return "https://survey.radhis.io/radhis"+this.currentId+".png";
      },
      lsNickname: function() {
        if (localStorage.getItem('nickname') !== null) {
          return true;
            } else {
          return false;
        }
      },
      nickId: {
        // getter
        get: function() {
            return this.currentId;
        },
        // setter
        set: function(nick: string) {
            const nickid = this.profiles.find(item => item.entry.nickname === nick);
            const formatnickid = JSON.parse(JSON.stringify(nickid));
            this.currentId = formatnickid.id;
        }
      }
    }
  });
</script>

<style scoped>
#nav {
  text-align: center;
}
  
#nav a {
  font-weight: bold;
  color: #2c3e50;
}
  
#nav a.router-link-exact-active {
  color: whitesmoke;
  background: rgb(163, 163, 192);
  border-radius: .5rem;
  /* padding: 3px; */
}

</style>