<template>
    <div class="panel">
        <template v-if="hasEntries">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-1" style="color:Grey;text-align:center;">
                    <font-awesome-icon icon="exclamation-circle" size="2x" />
                </div>
                <div class="col-12 col-md-6 col-lg-11 users" style="text-align:left;">
                    <!-- <h3>Users</h3> -->
                    <label><h3>Refresh user list &nbsp;    
                    <button ref="refreshButton" class="d-inline-block w-auto p-1" @click="fnSpinIcon">
                        <!-- spin the icon on click -->
                        <font-awesome-icon v-if="spinIcon == 1" icon="sync" class="fa-spin" />
                        <font-awesome-icon v-else icon="sync" />
                    </button>
                    </h3>
                    </label>
                </div>
            </div>
        </template>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
    // define props to receive from App, to put into the table
    name: 'get-users',
    props: {
        profiles: Array,
    },
    data() {
        return {
            spinIcon: 0,
        }
    },
    methods: {
        async fnSpinIcon() {
        console.log("SPIN ICON");
        this.spinIcon = 1;
        this.$emit('callListProfiles');
        await new Promise(r => setTimeout(r, 2000)); // sleep for 2 seconds before resetting spinIcon
        this.spinIcon = 0;
      },
    },
    computed: {
      hasEntries: function() {
        return this.$props.profiles.length > 0;
      },
    }
});
</script>

<style scoped>
.users {
    text-align: left;
}

button {
    font-size: 14px;
    /* padding: 70px; */
    vertical-align:middle;
    }

</style>