<template>
  <nav-bar />
  <!-- <router-view/> -->
  <div class="container">
    <!-- <div class="row">
      <div class="col-12">
        <div class="float-end">
        </div>
      </div>
    </div> -->
    <div class="row mt-3">
      <get-users :profiles="profiles" @callListProfiles="listProfiles" />
    </div>
    <div class="row mt-3">
      <div class="col-12 col-md-6 col-lg-3">
        <profile-table :profiles="profiles" @add:capgrant="addCapgrant" />
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <crl-table :profiles="profiles" />
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <create-health-data-form :profiles="profiles" @add:capcreate="capCreate"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { appInfo, appWebsocket } from '@/store/holochain'

import ProfileTable from '@/components/CapGrant.vue'
import GetUsers from '@/components/RefreshUsers.vue'
import CrlTable from '@/components/CapListHealthData.vue'
import CreateHealthDataForm from '@/components/CapCreateHealthData.vue'
import NavBar from '@/components/Navbar.vue'

export default defineComponent({
    name: 'access',
    components: {
        GetUsers,
        ProfileTable,
        CrlTable,
        CreateHealthDataForm,
        NavBar,
    },
data: () => ({
        profiles: [
          {
            entryHash: '',
            entry: {
              playerId: '',
              nickname: '',
            id: '',
            }
          }
        ],
        currentNick: '',
    }),
    mounted() {
      this.listProfiles()
    },
    methods: {
      async capCreate(cap_create) {

        // we can't just pass in cap_create as payload because it also contains selectedIndex
        const payload = {
          filterByAgent: cap_create.filterByAgent,
          content: cap_create.content,
          resourceType: cap_create.resourceType,
          startTime: parseInt(cap_create.starttime),
          endTime: parseInt(cap_create.endtime),
        };

        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();

        try{
        await appWs.callZome({
          cap: null,
          cell_id: cell_id,
          zome_name: 'radvue',
          fn_name: 'call_create_cap_claim',
          payload: payload,
          provenance: cell_id[1],
        });
        this.$moshaToast('Data sent to '+cap_create.granteeNick+'!',{type:'success',transition:'zoom',timeout: 3000,showIcon: true,toastBackgroundColor: '#009435'});
        } catch (error) {
            let message
            if (error instanceof Error) 
              message = error.message
            else message = String("Failed")
            this.$moshaToast({title:'Error!',description:message},{type:'danger',transition:'zoom',timeout: 3000,showIcon: true, toastBackgroundColor: '#d32f2f'});
        }
      },
        async addCapgrant(newCapgrant) {
        // gets ID from array to figure out who the grant is for
        const whichprofile = newCapgrant.selectedIndex;
        // builds input for create_capgrant, passing selected pubkey/playerID to function
        const pubkey_for_capgrant = this.profiles[whichprofile].entry.playerId;

        const thisnick = this.profiles[whichprofile].entry.nickname;

        // ok well let's try and get the data again, to do something with
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();

        // find out what grant type we want
        let whichgrant = newCapgrant.granttype;

        if (whichgrant == "list") {
          try{
            // actually use function with option value for grantee
            await appWs.callZome({
                cap: null,
                cell_id: cell_id,
                zome_name: 'radvue',
                fn_name: 'create_capgrant',
                payload: {
                  function: "list_health_data_with_capgrant",
                  agent: pubkey_for_capgrant,
                },
                provenance: cell_id[1],
            });

            this.$moshaToast({title:'Permission granted!',description:thisnick+' can now read your data'},{type:'success',transition:'zoom',timeout: 3000,showIcon: true,toastBackgroundColor: '#009435'});
          } catch (error) {
              let message
              if (error instanceof Error) message = error.message
              else message = String("A weird error :/ - "+error)
              this.$moshaToast({title:'Error!',description:message},{type:'danger',transition:'zoom',timeout: 3000,showIcon: true, toastBackgroundColor: '#d32f2f'});
          }
        } else if (whichgrant == "create") {
          try{
          await appWs.callZome({
              cap: null,
              cell_id: cell_id,
              zome_name: 'radvue',
              fn_name: 'create_capgrant',
              payload: {
                function: "create_health_data_with_capgrant",
                agent: pubkey_for_capgrant,
              },
              provenance: cell_id[1],
          });

          this.$moshaToast({title:'Permission granted!',description:thisnick+' can now write to your health record'},{type:'success',transition:'zoom',timeout: 3000,showIcon: true,toastBackgroundColor: '#009435'});
          } catch (error) {
            let message
            if (error instanceof Error) message = error.message
            else message = String("A weird error :/ - "+error)
            this.$moshaToast({title:'Error!',description:message},{type:'danger',transition:'zoom',timeout: 3000,showIcon: true, toastBackgroundColor: '#d32f2f'});
          }
        }
      },
      async listProfiles() {
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();
        const res = await appWs.callZome({
          cap: null,
          cell_id: cell_id,
          zome_name: 'radvue',
          fn_name: 'list_profiles',
          payload: null,
          provenance: cell_id[1],
        });

        // // add an ID to each entry so we can actually get the right pubkey/playerid for holochain
        res.forEach((o, i) => o.id = i + 1 - 1);

        this.profiles = [...res]; // append full response from backend to profiles array
        this.currentNick = localStorage.getItem('nickname');
      },
    },
  });
</script>

<style scoped>
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.fa-spin {
  /* animation: fa-spin 2s 0s linear !important; */
  /* animation-duration: 4s; */
  animation-iteration-count: 1;
  animation-duration: 1s;
}
</style>