<template>
  <nav-bar />
  <router-view/>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="float-end">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-md-6 col-lg-6">
        <audit-data-table :audits="audits" :grants="grants" @callListAuditData="listAuditData" />
      </div>
      <div class="col-12 col-md-6 col-lg-6">
          <capgrant-table :grants="grants" @callListGrants="listGrants" @delete_grant_index="updateDelete" @delete:grant="deleteGrant"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { DateTime } from "luxon";
import { appInfo, appWebsocket } from '@/store/holochain'

import AuditDataTable from '@/components/ListAuditData.vue'
import CapgrantTable from '@/components/ListCapGrant.vue'
import NavBar from '@/components/Navbar.vue'

export default defineComponent({
    name: 'audit',
    components: {
        AuditDataTable,
        CapgrantTable,
        NavBar,
    },
data: () => ({
        // initialize empty array for profile data - listProfiles() - to insert into
        profiles: [
          {
            entryHash: '',
            entry: {
              playerId: '',
              nickname: '',
            id: '',
            }
          }
        ],
        // initialize empty array for audit data - listAuditData() - to insert into
        audits: [
          {
            wrapperEntryHash: '',
            createdBy: '',
            recordHeader: '',
            resourceType: '',
            timestamp: '',
          }
        ],
        // initialize empty array for grants data - listGrants() - to insert into
        grants: [
          {
            entryHash: '',
            timestamp: '',
            grantee: '',
            function: '',
            headerhash: '',
            active: ''
          }
        ],
        currentNick: '',
        hooman: '',
        listNick: '',
        listFunction: '',
    }),
    mounted() {
      this.listProfiles()
      this.listAuditData()
      this.listGrants()
    },
    methods: {
        /// Listens for a 'delete_grant_index' emit from child ListCapGrant.vue.
        /// Index of the grant to be deleted is emitted and sent here as string. This function pushes it to the deleted_grant_index array in localStorage.
        /// localStorage therefore has an array of deleted grants, which are used in the markup to identify their deletion.
        /// NOTE: This is a VERY BAD workaround because holochain delete/updates are a total mystery to me.
        updateDelete(index: string) {
          // initialize array for indexes with local storage items
          var indexes = JSON.parse(localStorage.getItem('deleted_grant_index') || '[]');
          // push new deleted grant index to array
          indexes.push(index);
          // update local storage with new array
          localStorage.setItem('deleted_grant_index',JSON.stringify(indexes));
          // refresh grant list to show changed status
          this.listGrants();

        },
        /// Calls backend for list of grants issued by this user.
        /// This calls 'caprecord' entries rather than grants themselves, since additional metadata was needed for easy retrieval.
        /// The results are transformed and pushed to a new array from 'container'. Two computed setters are used for nickname and date retrieval, and the item index is also checked against the 'deleted_grant_index' localStorage array to check if it has been deleted or not.
        async listGrants() {
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();
        const res = await appWs.callZome({
          cap: null,
          cell_id: cell_id,
          zome_name: 'radvue',
          fn_name: 'list_caprecord',
          payload: null,
          provenance: cell_id[1],
        });

        // add an ID to each entry so we can actually get the right pubkey/playerid for holochain
        res.forEach((o, i) => o.id = i + 1 - 1);


        // get deleted_grant_index array from localStorage
        var deletedGrants = JSON.parse(localStorage.getItem('deleted_grant_index') || '[]');

        var newres = res.map(item => {
          var container = {};
            container["entryHash"] = item.entryHash;
            this.getNick = item.entry.grantee; // call computed setter to get nickname from pubkey
            container["grantee"] = this.listNick;
            this.getFunction = item.entry.function;
            container["function"] = this.listFunction;

            if (deletedGrants.indexOf(item.id) === -1) {
              container["active"] = true
            } else {
              container["active"] = false
            }
            this.formatDate = item.entry.timestamp; // call computed setter to format ISO date
            container["timestamp"] = this.hooman;
            container["headerhash"] = item.entry.headerhash;

          return container;

        });

        this.grants = [...newres]; // append full response from backend to profiles array
      },
      /// A simple backend call to find all audit data for this user's grants.
      async listAuditData() {
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();
        const res = await appWs.callZome({
          cap: null,
          cell_id: cell_id,
          zome_name: 'radvue',
          fn_name: 'list_audit_data',
          payload: null,
          provenance: cell_id[1],
        });


      var newres = res.map(item => {
        var container = {};
        container["wrapperEntryHash"] = item.wrapperEntryHash;
        this.getNick = item.entry.createdBy;
        container["createdBy"] = this.listNick; // get nickname from pubkey
        container["recordHeader"] = item.entry.recordHeader;
        container["resourceType"] = item.entry.resourceType;
        this.formatDate = item.entry.timestamp;
        container["timestamp"] = this.hooman; // format ISO date

        return container;

      })
      
      this.audits = [...newres]; // append full response from backend to audit data array

      },
      /// A simple call to list all current profiles, and appending an index to each.
      async listProfiles() {
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();
        const res = await appWs.callZome({
          cap: null,
          cell_id: cell_id,
          zome_name: 'radvue',
          fn_name: 'list_profiles',
          payload: null,
          provenance: cell_id[1],
        });

        // // add an ID to each entry so we can actually get the right pubkey/playerid for holochain
        res.forEach((o, i) => o.id = i + 1 - 1);

        this.profiles = [...res]; // append full response from backend to profiles array
        this.currentNick = localStorage.getItem('nickname');
      },
      /// Calls backend function to delete the grant of the provided headerhash.
      /// listGrants is called at the end to refresh the reactive list.
      async deleteGrant(header_hash: Uint8Array) {

        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();

        try{
        await appWs.callZome({
          cap: null,
          cell_id: cell_id,
          zome_name: 'radvue',
          fn_name: 'delete_cap_grant',
          payload: header_hash,
          provenance: cell_id[1],
        });
        this.$moshaToast('Deleted this permission!',{type:'success',transition:'zoom',timeout: 3000,showIcon: true,toastBackgroundColor: '#009435'});
        } catch (error) {
          let message
          if (error instanceof Error) 
            message = error.message
          else message = String("Failed")
          this.$moshaToast({title:'Error!',description:message},{type:'danger',transition:'zoom',timeout: 3000,showIcon: true, toastBackgroundColor: '#d32f2f'});
        }
        this.listGrants();
      },
    },
    computed: {
      getFunction: {
        // getter
        get: function() {
          return this.listFunction;
        },
        // setter
        set: function(fname) {
          if (fname == 'create_health_data_with_capgrant') {
            this.listFunction = 'Create'
          } else {
            this.listFunction = 'List'
          }
        }
      },
      getNick: {
        // getter
        get: function() {
          return this.listNick;
        },
        // setter
        set: function(pubkey: Uint8Array) {
          let profiles = this.profiles;
          profiles = profiles.filter((p)=> {
              return p.entry.playerId.toString() === pubkey.toString()
          })
          const pcont = JSON.parse(JSON.stringify(profiles))
          this.listNick = pcont[0].entry.nickname;
        }
      },
      formatDate: {
        // getter
        get: function() {
            return this.hooman;
        },
        // setter
        set: function(timestamp) {
          const date = DateTime.fromISO(timestamp);
          this.hooman = date.toLocaleString(DateTime.DATETIME_SHORT);
        }
      },
      // playerHasProfile: function() {
      //   return this.profiles.length > 0;
      // },
      // lsNickname: function() {
      //   if (localStorage.getItem('nickname') !== null) {
      //     return false;
      //       } else {
      //     return true;
      //   }
      // },
    },
  });
</script>

<style scoped>
.fa-spin {
  /* animation: fa-spin 2s 0s linear !important; */
  /* animation-duration: 4s; */
  animation-iteration-count: 1;
  animation-duration: 1s;
}
</style>