<template>
  <nav-bar />
  <router-view />
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="float-end">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-md-6 col-lg-6">
        <health-data-form @add:newHealthData="addHealthData" />
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <health-data-table :items="items" @callListHealthData="listHealthData"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { DateTime } from "luxon";
import HealthDataForm from '@/components/CreateHealthData.vue'
import HealthDataTable from '@/components/ListHealthData.vue'
import NavBar from '@/components/Navbar.vue'
import { appInfo, appWebsocket } from '@/store/holochain'

export default defineComponent({
    name: 'logged-in',
    components: {
      HealthDataForm,
      HealthDataTable,
      NavBar,
    },
    data: () => ({
        // initialize empty array for health data - listHealthData() - to insert into
        items: [
          {
            wrapperEntryHash: '',
            entry: {
              content: '',
              resourceType: '',
              startTime: '',
              endTime: '',
            }
          }
        ],
        // initialize empty array for profile data - listProfiles() - to insert into
        profiles: [
          {
            entryHash: '',
            entry: {
              playerId: '',
              nickname: '',
            id: '',
            }
          }
        ],
        currentNick: '',
    }),
    mounted() {
      this.listHealthData() // update items on page load/refresh
      this.listProfiles()
    },
    methods: {
      async listHealthData() {
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();
        const res = await appWs.callZome({
          cap: null,
          cell_id: cell_id,
          zome_name: 'radvue',
          fn_name: 'list_health_data',
          payload: null,
          provenance: cell_id[1],
        });

        var newres = res.map(item => {
          var container = {};
          container["wrapperEntryHash"] = item.wrapperEntryHash;
          container["content"] = item.entry.content;
          container["resourceType"] = item.entry.resourceType;
          const sd = new Date(item.entry.startTime * 1000); // convert unix time to date
          container["startTime"] = sd.toLocaleString(DateTime.DATETIME_SHORT); // format to datetime_short
          const ed = new Date(item.entry.endTime * 1000); // convert unix time to date
          container["endTime"] = ed.toLocaleString(DateTime.DATETIME_SHORT); // format to datetime_short
          return container;

        })
      
        this.items = [...newres]; // send full response from backend to health data array

      },
      async addHealthData(hdf) {

        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();

        // make call to holochain backend
        await appWs.callZome({
            cap: null,
            cell_id: cell_id,
            zome_name: 'radvue',
            fn_name: 'create_health_data',
            payload: {
                content: hdf.content,
                resourceType: hdf.resourcetype,
                startTime: parseInt(hdf.starttime),
                endTime: parseInt(hdf.endtime),
            },
            provenance: cell_id[1],
        });

        this.$moshaToast('Health data created!',{type:'success',transition:'zoom',timeout: 3000,showIcon: true,toastBackgroundColor: '#009435'});

        this.listHealthData();
      },
      async listProfiles() {
        const info = await appInfo();
        const cell_id = info.cell_data[0].cell_id;
        const appWs = await appWebsocket();
        const res = await appWs.callZome({
          cap: null,
          cell_id: cell_id,
          zome_name: 'radvue',
          fn_name: 'list_profiles',
          payload: null,
          provenance: cell_id[1],
        });

        // // add an ID to each entry so we can actually get the right pubkey/playerid for holochain
        res.forEach((o, i) => o.id = i + 1 - 1);

        this.profiles = [...res]; // append full response from backend to profiles array
        this.currentNick = localStorage.getItem('nickname');

        this.nickId = this.currentNick;

      },
    },
  });
</script>

<style>
/* #app {
  font-family: Arial, Helvetica, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #4283b9;
}

body {
  background-color: rgb(199, 199, 199);
  }

.small-container { */
  /* max-width: 1024px; */
  /* margin: 0 auto;
  width: 70%;
}

form {
    margin-bottom: 2rem;
    text-align: left;
    padding: 30px;
  }

.button {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  background: #009435;
  border: 1px solid #009435;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

[class*='-message'] {
  font-weight: 500;
}

#entries {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

#entries td, #entries th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#entries tr:nth-child(even){background-color: #f2f2f2;}

#entries tr:hover {background-color: #ddd;}

#entries th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #69b985;
  color: white;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: darkgrey;
    color: #fff;
    padding: 10px;
    cursor: not-allowed;
    pointer-events: none;
}

@keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
} */

/* .refresh-start {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
} */

/* .refresh-end {
  animation-play-state: paused !important
} */

.fa-spin {
  /* animation: fa-spin 2s 0s linear !important; */
  /* animation-duration: 4s; */
  animation-iteration-count: 1;
  animation-duration: 1s;
}

</style>